{include file="public/head"/}
<div class="page list js_show">
    <!--<div class="page__hd">
        <h1 class="page__title">小说</h1>
        <span onclick="swith()">切换</span>
    </div>-->
    <div class="page__bd">
        <div class="weui-cells">

            {foreach name="data" item="v" }
            <a class="weui-cell weui-cell_access" href="/index/index/chapter/book_id/{$v.id}">
                <div class="weui-cell__bd">
                    <ul>
                        <li>{$v.name}</li>
                    </ul>
                </div>
            </a>
            {/foreach}
        </div>
    </div>
    <div class="pages">
        {$data->render()}
    </div>
</div>
<script>
    function swith() {
        $.get("{:url('swith')}", function () {
            location.reload();
        })
    }
</script>
{include file="public/tail"/}
