{include file="public/head"/}
<style>
    .page__hd{
        margin: 1.5rem;
    }
</style>
<div class="page list js_show">
    <span class="page__hd"onclick="swith()">切换</span>
    <div class="page__bd">
        <div class="weui-cells">

            {foreach name="data" item="v" }
            <a class="weui-cell weui-cell_access" href="/index/index/chapter/book_id/{$v.id}">
                <div class="weui-cell__bd">
                    <ul>
                        <li>{$v.name}</li>
                    </ul>
                </div>
            </a>
            {/foreach}
        </div>
    </div>
    <div class="pages">
        {$data->render()}
    </div>
</div>
<script src="static/js/common.js"></script>
<script>
    function swith() {
        /*$.get("{:url('swith')}", function () {
            // location.reload();
        })*/
        ajaxRequest("{:url('swith')}",'post','',function (ret) {
            location.reload();
        })
    }
</script>
{include file="public/tail"/}
