{include file="public/head"/}
<style>

    input {
        margin: 10px 20px;
        height: 2.5rem;
        border: 1px solid #d2d2d2;
        width: 250px;
        font-size: 20px;
    }

    .login {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .title {
        font-size: 22px;
        text-align: center;
    }

    .password {
        text-align: center;
    }

    .placeholder {
        width: 250px;
        margin: 20px 100px;
        font-size: 20px;
        border: none;
    }

</style>
<form action="{:url('index/login')}" method="post">
    <div class="login">
        <div class="title">密码</div>
        <div class="password"><input type="password" name="password"></div>
        <button class="placeholder" onclick="this.form.submit()">登录</button>
    </div>
</form>
{include file="public/tail"/}
